<nav class="bg-white shadow rounded-lg p-4">
  <ol class="list-reset flex text-gray-600">
    <li class="mr-2 cursor-pointer">
      <a routerLink="/pages/dashboard" class="text-blue-600 hover:underline">Inicio</a>
    </li>

    <ng-container *ngFor="let item of breadcrumb; let i = index">
      <li class="mr-2">/</li>
      <li class="mr-2" (click)="changePage(i)">
        <span class="text-blue-600 hover:underline capitalize cursor-pointer">{{item}}</span>
      </li>
    </ng-container>
  </ol>
</nav>
