<section>
  <h3 class="text-3xl font-semibold mb-6">User Details Page</h3>

  <div class="bg-white rounded-lg shadow-lg p-4">
    <img class="w-16 h-16 rounded-full mx-auto mb-4"
         ngSrc="https://xsgames.co/randomusers/assets/avatars/male/33.jpg"
         width="64" height="64"
         alt="Avatar del usuario" priority>

    <h2 class="text-xl font-semibold text-gray-800">Nombre del Usuario</h2>
    <p class="text-gray-600">Correo Electrónico: usuario@ejemplo.com</p>
    <p class="text-gray-600">Fecha de Registro: 01/01/2023</p>
  </div>
</section>
