<section class="bg-gradient-to-r from-blue-500 to-blue-900 min-h-screen grid place-content-center">
  <div class="text-center text-white">
    <h1 class="text-5xl font-semibold">Error 404</h1>
    <p class="text-xl mt-4">
      Página:
      <span class="font-bold">{{ path }}</span>
      no encontrada</p>
    <p class="mt-8">
      <a routerLink="/pages/dashboard" class="text-white border px-6 py-3 rounded hover:bg-white hover:text-black transition-all">Volver a la página de inicio</a>
    </p>
  </div>
</section>
